.checkbox {
    position: relative;
    margin: 0;
    left: 0;
    padding: 0;
    transition: 0.5s;
}

.checkbox li {
    list-style: none;
    margin: 0;
    padding: 2px;
}

.checkbox li label {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.checkbox li label ion-icon {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.checkbox li label span {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    color: #777;
    transition: 0.5s;
}

.checkbox li label .action {
    position: relative;
}

.checkbox li label .action input {
    appearance: none;
}

.checkbox li label .action i {
    position: relative;
    width: 35px;
    height: 15px;
    background: #ddd;
    border-radius: 15px;
    transition: 0.5s;
}

.checkbox li label .action input:checked ~ i {
    background: #ff2a2a;
}

.checkbox li label .action i::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.checkbox li label .action input:checked ~ i::before {
    left: calc(100% - 12px);
}