footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background: #2f363e;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 15px 15px rgba(0,0,0,0.5);
}
footer ion-icon{
    color: #fff;
    font-size: 1.7em;
}