.profile {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
}

.darkMode .profile {
    background: #2f363e;
}

.profile h2 {
    position: relative;
    width: 100%;
    top: 110px;
    padding-left: 15px;
    color: #2f363e;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 3em;
    text-transform: uppercase;
}

.darkMode .profile h2 {
    color: #ffffff;
}

.profile .cardProfile {
    position: relative;
    width: 500px;
    height: auto;
    top: 120px;
    left: 0;
    margin: 0 25px;
    padding: 5px 25px;
    border-radius: 20px;
    background: #fff9f9;
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5),
    2px 4px 6px rgba(0, 0, 0, 0.5);
}

.darkMode .profile .cardProfile {
    background: #2f363e;
    box-shadow: 2px 4px 6px rgba(255, 255, 255, 0.5),
    2px 4px 6px rgba(255, 255, 255, 0.5);
}

@media (max-width: 420px) {
    .profile .cardProfile {
        width: 90%;
    }
}

.profile .cardProfile ion-icon {
    position: relative;
    padding: 5px;
    font-size: 5em;
    background: inherit;
    color: #2f363e;
}

.darkMode .profile .cardProfile ion-icon {
    color: #fff9f9;
}

.profile .cardProfile ul {
    position: relative;
    list-style: none;
    width: 100%;
    height: auto;
}

.profile .cardProfile ul li {
    position: relative;
    padding: 5px;
    width: 100%;
    height: auto;
}

.profile .cardProfile ul li a {
    position: relative;
    color: #2f363e;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: "Comic Sans MS", sans-serif;
}

.darkMode .profile .cardProfile ul li a {
    color: #fff9f9;
}

.profile .cardProfile ul li span {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4f5459;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.darkMode .profile .cardProfile ul li span {
    color: #fff;
}

.profile .cardProfile ul li span ion-icon {
    position: relative;
    font-size: 1em;
    cursor: pointer;
}