.profile{
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile hr{
    position: absolute;
    top: 200px;
    width: 100%;
}
.profile h2{
    position: absolute;
    top: 125px;
    left: 20px;
    color: #000000;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 3em;
    text-transform: uppercase;
}

.darkMode .profile h2 {
    color: #ffffff;
}